body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #4CAF50;
  color: #fff;
}

.container {
  text-align: center;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.navbar h3 {
  margin: 0;
}

.heading {
  margin: 0;
  font-size: 1.2em;
}

.navbar-icon {
  font-size: 3.5em;
}

.icon-container {
  margin: 20px 0;
}

.learn-more-link {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 0;
  width: 80%;
  font-size: 1.5em; 
}

.learn-more-link:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.help-link {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 0;
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
}

.video {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
